.sketch-objects {
  width: 20%;
  height: 100%;
  background-color: #eee;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    button {
      margin: 0 5px;
    }
  }

  .points-container {
    max-height: calc(100% - 73px);
    overflow: auto;
  }

  .empty-list {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    color: gray;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
