.element-container {
  display: flex;
  padding: 15px;
  margin: 20px 5px;
  width: calc(100% - 10px);
  border: 1px solid cornflowerblue;
  background-color: rgba(173, 216, 230, 0.29);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.element-container:hover .element-actions {
  opacity: 1;
}

.element-actions {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  transition: opacity .1s;
  svg {
    color: #868686;
  }
}

.element-coordinates {
  color: #868686;
  font-size: .9em;
  padding-top: 5px;
}

.element-details {
  display: flex;
  flex-flow: column;
  margin: 0 10px;
}

.element-container:hover {
  background-color: rgba(173, 216, 230, 0.49);
}

.element-container.selected-element {
  background-color: #dbddec;
  border: 1px solid #6c55ff;
}

.element-container.selected-element:hover {
  background-color: #dbddec;
}

.icon-container {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rect-icon {
  width: 25px;
  height: 25px;
  border: 2px solid #cecece;
}

.line-icon {
  width: 25px;
  border-bottom: 2px solid #cecece;
  transform: rotate(45deg);
}
