.sketch-tools {
  height: 50px;
  width: 100%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .action {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      color: #8e8b8b;
      cursor: pointer;
      height: 80%;
      border: 1px dashed #c1c1c1;
      border-left-width: 0;
    }

    .action:first-child {
      border-left: 1px dashed #c1c1c1;
    }

    .action:hover {
      background-color: #d9d9d9;
    }

    .action.selected {
      background-color: #e8e8e8;
    }

    .disabled-action {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .close-icon {
    cursor: pointer;
    margin: 10px;
  }
}
