.sketch-dialog {
  .MuiDialog-paper {
    display: flex;
    max-width: none;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
  }
}

.MuiDialog-paper {
  max-width: 100vw;
  width: calc(100vw - 50);
  height: calc(100vh - 50);
}

.sketch-body {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
}

.sketch {
  width: 80%;
  border: 1px solid #ccd4cf;

  .sketch-container {
    height: 100%;
    box-shadow: inset 1px 1px 18px 7px #cccccc;
  }

  canvas {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}
