.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: -1px 8px 13px 2px #9090902e;
  background-color: white;
  z-index: 10;

  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      height: 48px;
      margin: 0 25px;
    }
  }
}
