.objects-container {
  height: calc(100% - 120px);
  background-color: white;
  padding-bottom: 30px;

  .body-header {
    flex-flow: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
}

.objects-list-container {
  height: calc(100% - 120px);
  display: flex;
  flex-wrap: wrap;

  .object-container {
    display: flex;
    position: relative;
    width: 200px;
    height: 250px;
    overflow: hidden;
    box-shadow: 4px 5px 11px 2px #d8d8d875;
    border-radius: 3px;
    cursor: pointer;
    margin: 15px 30px;
    transition: box-shadow 0.3s;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #e6e6e6;
      img {
        height: 100%;
      }
    }

    .description-container {
      width: 100%;
      height: 40px;
      position: absolute;
      background-color: #ffffff;
      bottom: 0;
      box-shadow: 7px 6px 5px grey;
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
      font-family: sans-serif;
      font-weight: 300;
    }
  }

  .object-container:hover {
    box-shadow: 4px 5px 11px 6px #d8d8d8;
  }
}
