.loading-overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  transition: width 0.1s, height 0.1s;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.82);
}

.loading-overlay-container.fullScreen {
  width: 99vw;
  height: calc(99vh - 120px);
  background-color: #ffffff99;
  top: 120px;
}

.spinner {
  opacity: 0;
  transition: opacity 0.2s;
}

.loading {
  z-index: 100;
  .spinner {
    opacity: 1;
  }
}
