.table-header {
  background-color: whitesmoke;

  .MuiTableCell-root {
    color: #afafaf;
  }
}

.table-row {
  cursor: pointer;
  &:hover {
    background-color: rgba(245, 245, 245, 0.42);
  }
}

.empty-table-label {
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8e8e8;
  text-transform: capitalize;
}
