.settings-container {
  height: 100%;
  background-color: white;
  min-height: calc(100vh - 120px);

  .settings-header {
    font-size: 2em;
    padding: 25px 0;
    color: #545454;
    border-bottom: 1px solid #d3d3d35c;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
