.settings-selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 250px;
  height: 250px;
  box-shadow: 2px 3px 4px 3px #d8d8d8ab;
  border-radius: 3px;
  transition: all 0.3s;
  img {
    width: 150px;
    height: 150px;
  }
}

.setting-item:hover {
  cursor: pointer;
  box-shadow: 2px 3px 4px 3px rgba(163, 163, 163, 0.6);
}
