.row-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.edit-action,
.delete-action {
  cursor: pointer;
  svg {
    color: #b3b3b3;
    border-radius: 50%;
    border: 1px solid;
    padding: 2px;
  }
}
